{% extends 'reportsapp/dashboard/dashboardbase.html' %}
{% load mathfilters %}
{% block content %}
<table class="table table-responsive-md table-bordered header-border table-striped" id="example4">
    <thead style="background-color:beige;">
    <tr>
        {% for fld in fields %}
            <th>{{fld}}</th>     
        {% endfor %}
    </tr>
    </thead>
    {% for sale in sales %}
     <tr>
        <td>{{forloop.counter|default_if_none:"&nbsp;" }}</td>
        <td>{{sale.Distributors.Distributor_Name|default_if_none:"&nbsp;" }}</td>
        <td>{{sale.Customers.Customer_Name|default_if_none:"&nbsp;" }}</td>
        <td>{{sale.sales_order_no|default_if_none:"&nbsp;" }}</td>
        <td>{{sale.Bill_Date|default_if_none:"&nbsp;" }}</td>
        <td>{{sale.cust_po_no|default_if_none:"&nbsp;" }}</td>
        <td>{{sale.cust_po_date|default_if_none:"&nbsp;" }}</td>
        <td>{{sale.Invoice_No|default_if_none:"&nbsp;" }}</td>
        <td>{{sale.Tally_MasterID|default_if_none:"&nbsp;" }}</td>
        <td>{{sale.Total_Inventory_Amount|default_if_none:"&nbsp;" }}</td>
        <td>{{sale.Total_GST|default_if_none:"&nbsp;" }}</td>
        <td>{{sale.SGST_AMOUNT|default_if_none:"&nbsp;" }}</td>
        <td>{{sale.CGST_AMOUNT|default_if_none:"&nbsp;" }}</td>
        <td>{{sale.IGST_AMOUNT|default_if_none:"&nbsp;" }}</td>
        <td>{{sale.Cash_Discount_Amount|default_if_none:"&nbsp;" }}</td>
        <td>{{sale.R_O_Amount|default_if_none:"&nbsp;" }}</td>
        <td>{{sale.Total_Invoice_Amount|default_if_none:"&nbsp;" }}</td>
        {% comment %} <td>{{r.id}}</td>
        <td>{{r.entity_id}}</td>
        <td>{{r.Sales_Item_Name|default_if_none:"&nbsp;"}}</td>
        <td>{{r.Sales_Quantity|default_if_none:"&nbsp;"}}</td>
        <td>{{r.sale_uom |default_if_none:"&nbsp;"}}</td>
        <td>{{r.Sales_Rate |default_if_none:"&nbsp;"}}</td>
        <td>{{r.Sales_Serial_No |default_if_none:"&nbsp;"}}</td>
        <td>{{r.Sales_Batch |default_if_none:"&nbsp;"}}</td>
        <td>{{r.Sales_Discount |default_if_none:"&nbsp;"}}</td>
        <td>{{r.Total_Amount |default_if_none:"&nbsp;"}}</td>
        <td>{{r.Reference_No |default_if_none:"&nbsp;"}}</td> {% endcomment %}
        <td>{{sale.updated_on}}</td>
        <td>{{sale.created_on}}</td>
 
     </tr>
     {% endfor %}
</table>
{% endblock %}    
