{% load crispy_forms_tags %}
<div class="row">
    <div class="form-group col-md-3 mb-0">
        {{form.p_order_no|as_crispy_field}}
    </div> 
    <div class="form-group col-md-3 mb-0">
        {{form.Bill_Date|as_crispy_field}}
    </div> 
    <div class="form-group col-md-3 mb-0">
        {{form.recipt_no|as_crispy_field}}
    </div>
    <div class="form-group col-md-3 mb-0">
        {{form.receipt_note_date|as_crispy_field}}
    </div>
    <div class="form-group col-md-6 mb-0">
        {{form.Distributors|as_crispy_field}}
    </div>
    <div class="form-group col-md-6 mb-0">
        {{form.Distributor_Name|as_crispy_field}}
    </div>    
    <div class="form-group col-md-6 mb-0">
        {{form.billing_entity|as_crispy_field}}
    </div>
    <div class="form-group col-md-3 mb-0">
        {{form.Invoice_No|as_crispy_field}}
    </div> 
    <div class="form-group col-md-3 mb-0">
        {{form.supplier_invoice_date|as_crispy_field}}
    </div>   
    <div class="form-group col-md-3 mb-0">
        {{form.gst_type|as_crispy_field}}
    </div>  
    <div class="form-group col-md-3 mb-0">
        {{form.SGST_AMOUNT|as_crispy_field}}
    </div> 
    <div class="form-group col-md-3 mb-0">
        {{form.CGST_AMOUNT|as_crispy_field}}
    </div> 
    <div class="form-group col-md-3 mb-0">
        {{form.Total_GST|as_crispy_field}}
    </div> 
    <div class="form-group col-md-3 mb-0">
        {{form.Cash_Discount_Amount|as_crispy_field}}
    </div> 
    <div class="form-group col-md-3 mb-0">
        {{form.Total_Inventory_Amount|as_crispy_field}}
    </div>
    <div class="form-group col-md-3 mb-0">
        {{form.Total_Amount|as_crispy_field}}
    </div>
    <div class="form-group col-md-3 mb-0">
        {{form.warehouse|as_crispy_field}}
    </div>
</div>    

