{% extends 'reportsapp/base1.html' %} {% load static %}
<!--*********Header Start**********-->
{% block customcss %}
<link rel="stylesheet" href="{% static 'reportsapp/dashboard/vendor/datatable/dataTables.min.css' %}">
{% endblock customcss %}
{% block header-left %}
<div class="header-left">
  <div class="dashboard_bar">Retailers</div>
</div>
{% endblock header-left %}
<!--*********Header End **********-->
<!--*********content-body start********-->
{% block content-body %}
<div class="content-body" style="min-height: 728px">
  <div class="container-fluid">
          {% include 'account/msg/messages.html' %}
    <div id="message"></div>
    <!--Filter-->
    <div class="custome-accordion">
      <div class="accordion" id="accordionUserFilter">
        <div class="accordion-item card">
          <h2 class="accordion-header border-0" id="headingOne">
            <button
              class="accordion-button d-flex justify-content-between align-items-center"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collaps-user-filter"
              aria-expanded="true"
              aria-controls="collaps-user-filter"
            >
              <span class="acc-heading">Filter</span>
            </button>
          </h2>
          <div
            id="collaps-user-filter"
            class="accordion-collapse collapse show"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionUserFilter"
            style=""
          >
            <div class="accordion-body card-body pt-0">
              <form
                action="/retailer-list/"
                method="post"
                id="user-filter-form"
              >
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                        <div class="col-lg-6 col-xl-4">
                            <select
                            name="filter-retailer"
                            class="default-select form-control wide mb-3"
                            id="id_fields"
                            style="display: none">
                               <option value="" selected>---Please Select Field---</option>
                            {% for field_name in field_names %}
                            <option value="{{ field_name.name }}">{{ field_name.verbose_name }}</option>
                                {% endfor %}

                            </select>
                        </div>
                      <div class="col-lg-6 col-xl-4">
                        <div class="mb-3">
                          <input
                            type="text"
                            name="filter-retailer-name"
                            class="form-control input-default"
                            placeholder="Please enter field value"
                          />
                        </div>
                      </div>
                      <div class="col-lg-6 col-xl-3">
                        <div class="row">
                          <div class="col-md-3">
                            <button
                              type="submit"
                              class="btn btn-primary w-10 mb-1"
                            >
                              <i class="fa-solid fa-magnifying-glass me-1"></i
                              >
                            </button>
                          </div>
                          <div class="col-md-6">
                            <a href="javascript:void(0);" type="button" class="btn light btn-outline-primary clear-customer-filter w-100" >Clear</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Retailers</h4>
          <div class="d-flex">
            <a href="/export/customer/" class="btn btn-primary me-2">Download</a>
            <button
              type="button"
              id="delete_multiple_btn"
              class="btn ligh btn-outline-primary me-2"
            >
              Delete
            </button>
            <a href="/retailer-create/" class="btn btn-primary"
              >ADD Retailer
              <span class="btn-icon-end"> <i class="fa fa-plus"></i></span>
            </a>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            {% block content %} {% endblock %}
            <div class="text-primary d-flex justify-content-center"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content-body %}
<!--*********content-body end**********-->

{% block vendorjs %}
<script src="{% static 'reportsapp/dashboard/vendor/datatable/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'reportsapp/dashboard/vendor/datatable/datatables.init.js' %}"></script>
<script src="{% static 'reportsapp/dashboard/vendor/users/retailer_list.js' %}"></script>
<script src="{% static 'reportsapp/dashboard/vendor/dropdown/retailer_dropdown.js' %}"></script>  
{% endblock vendorjs %}

