{% extends 'account/Dbprice/dbpricebase.html' %}
{% load static %}
{% block content %}
<table class="table-responsive-md table-bordered header-border table-striped" id="example4">
    <thead style="background-color:beige;">
        <tr>
            <th style="width:50px;">
                <div class="form-check custom-checkbox checkbox-primary check-lg me-3">
                    <input type="checkbox" class="form-check-input" id="checkAll" value="">
                    <label class="form-check-label" for="checkAll"></label>
                </div>
            </th> 
            <th>S.No</th>
            <th>Distributor Code</th>
            <th>Item Code</th>
            <th>Rate</th>
            <th>Status</th>
            <th>Action</th> 
        </tr>       
    </thead>  
    {% include 'account/Dbprice/partial_dbprice_list.html' %}  
</table>    
{% endblock %}