{% extends 'account/city/citybase.html' %}
{% load static %}
{% block content %}
<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>SNo</th>
            <th>Zone</th>
            <th>Region</th>
            <th>State</th>
            <th>City Name</th>
            <th>Action</th>


    </thead>
    {% include 'account/city/partial_city_list.html' %}

</table>

<div class="modal fade" id="modal-book">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      </div>
    </div>
</div>

{% endblock %}