{% load crispy_forms_tags %}
 {{ formset.management_form }}
  {% for form in formset %}
<tr class="form-row">

  <td>{{form.Sales_Item_Code|as_crispy_field}}</td>
  <td>{{form.Sales_Item_Name|as_crispy_field}}</td>
  <td>{{form.Sales_Quantity|as_crispy_field}}</td>
  <td>{{form.sale_uom|as_crispy_field}}</td>
  <td>{{form.Sales_Rate|as_crispy_field}}</td>
  <td>{{form.Sales_Discount|as_crispy_field}}</td>
  <td>{{form.Sales_Serial_No|as_crispy_field}}</td>
  <td>{{form.Total_Amount|as_crispy_field}}</td>

 
  <td>
    <div class="input-group-append">
      <button class="button btn-success is-small add-form-row">
        <i class="bi bi-plus"></i></button
      >&nbsp;
      <button class="button btn-danger is-small remove-form-row">
        <i class="bi bi-trash"></i></button
      >&nbsp;
    </div>
  </td>
</tr>

{% endfor %}
