<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Add Line Item</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-responsive-md table-bordered table-striped" id="itemname" data-item-drop="{% url 'load_item_drop' %}" data-itm-line="{% url 'load_line_item' %}">
                        <thead style="background-color: beige;">
                            <tr>
                                <th>*ITEM CODE</th>
                                <th>ITEM NAME</th>
                                <th>*QTY</th>
                                <th>*BAL QTY</th>
                                <th>*PURCHASE UOM</th>
                                <th>*RATE</th>
                                <th>*DISCOUNT</th>
                                <th>SERIAL NO</th>
                                <th>*AMOUNT</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% include 'account/Purchaseinvoice/child_purchaseinvoice_form.html' %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>    