{% extends 'account/Distributor/distributorbase.html' %}
{% load static %}
{% block content %}
<table class="table table-responsive-md table-bordered header-border table-striped" id="example4">
    <thead style="background-color:beige;">
        <tr>
            <th style="width:50px;">
                <div class="form-check custom-checkbox checkbox-primary check-lg me-3">
                    <input type="checkbox" class="form-check-input" id="checkAll" value="">
                    <label class="form-check-label" for="checkAll"></label>
                </div>
            </th> 
            <th>S.No</th>
            <th>Distributor Name</th>
            <th>Distributor Code</th>
            <th>zone</th>
            <th>Region</th>
            <th>State</th>
            <th>City</th>
            <th>Status</th>
            <th>Action</th>  
        </tr>       
    </thead>  
    {% include 'account/Distributor/partial_distributor_list.html' %}  
</table>    
{% endblock %}