{% if distributors %}
{% for distributor in distributors %}
  <tr id="3">
      <td>
        <div class="form-check custom-checkbox checkbox-primary check-lg me-3">
          <input name="user_id[]" type="checkbox" class="form-check-input" value="3">
          <label class="form-check-label" for="checkbox-3"></label>
        </div>
      </td>
    <td>{{forloop.counter}}</td>
    <td>{{distributor.Distributor_Name}}</td>
    <td>{{distributor.Distributor_Code}}</td>
    <td>{{distributor.zones}}</td>
    <td>{{distributor.region}}</td>
    <td>{{distributor.State}}</td>
    <td>{{distributor.City}}</td>
    <td>
      <div class="form-check form-switch">
        <input class="form-check-input" data-item-id="{{ distributor.id }}" type="checkbox" value="{{distributor.is_active}}" role="switch" id="flexSwitchCheckDefault" {% if distributor.isactive %}checked{% endif %}>
        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
      </div>
    </td>
    <td>
        <div class="sweetalert">
          <div class="d-flex">
            <a href="#" class="btn btn-secondary shadow btn-xs sharp me-1" title="Permissions"><i class="fa fa-shield"></i></a>  
            <a href="{% url 'distributor-update' distributor.id %}" class="btn btn-primary shadow btn-xs sharp me-1" title="Edit"><i class="fa fa-pencil"></i></a>
            <a href="{% url 'distributor-delete' distributor.id %}" class="btn btn-danger shadow btn-xs sharp sweet-success-cancel"  title="Delete"><i class="fa fa-trash"></i></a>    
          </div>  
        </div>  
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="10" class="text-center bg-warning">No Distributor</td>
  </tr>
{% endfor %}
{% endif %}
