{% extends 'account/Saleinvoice/saleinvoicebase.html' %}
{% load static %}
{% load crispy_forms_tags %}
<!-- header start-->
{% block header-left %}
<div class="header-left">
    <div class="dashboard_bar">
      Add Sales Invoice
    </div>
</div>
{% endblock header-left %}
<!-- header end -->

<!--content-body start-->
{% block content-body %}
<div class="content-body">
    <div class="basic-form">
        <form method="POST" enctype="multipart/form-data" novalidate autocomplete="off"  id="disform" dl-so-dropdown="{% url 'load_dl_so_dropdown' %}" dl-cust-dropdwon="{% url 'load_dl_cust_dropdown' %}" dl-gst-dropdown="{% url 'load_dl_gst_dropdown' %}" dl-item-load="{% url 'load_del_items' %}" dl-full-data="{% url 'load_dl_note_data' %}" data-so_url="{% url 'load_sodate' %}" data-di-url="{% url 'load_di_date' %}" data-cust-url="{% url 'ajax_load_custname' %}"  data-dis-url="{% url 'ajax_load_disname' %}" data-gst-url="{% url 'ajax_load_cgst_sgst' %}">
            {% csrf_token %}
            <div class="container-fluid">
                {% include 'account/Purchase/messages.html' %}
                <div class="row justify-content-center h-100 align-items-center">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">SALES INVOICE</h4>
                            </div>
                            <div class="card-body">
                                {% include 'account/Saleinvoice/parent_saleinvoice_form.html' %}  
                            </div>        
                        </div>    

                        <div class="card">
                            <div class="card-body">
                                {% include 'account/Saleinvoice/partial_saleinvoice_datatable.html' %}
                                <button type="submit" class="btn btn-secondary mt-4 mb-5">Save</button>
                                <a href="/sales-invoice-create/" class="btn btn-primary mt-4 mb-5">Cancel</a>        
                            </div>       
                        </div> 
                    </div>    
                </div>    
            </div> 
        </form>    
    </div>       
</div>    
{% endblock content-body %}
<!--content body-->
