{% extends 'account/base.html' %}
{% load crispy_forms_tags %}
{% block page-inner %}
<div class="page-inner">
    <div class="page-title">
        <h3 class="breadcrumb-header" style="color:white;">UPDATE PASSWORD POLICY</h3>
    </div>
    <div id="main-wrapper">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-row">
                                 <div class="form-group col-md-3 mb-0">
                                        {{ form.MinChar|as_crispy_field }}
                                 </div>
                                <div class="form-group col-md-3 mb-0">
                                    {{ form.MaxChar|as_crispy_field }}
                                </div>
                                <div class="form-group col-md-3 mb-0">
                                    {{form.PassType|as_crispy_field }}
                                </div>
                                <div class="form-group col-md-3 mb-0">
                                    {{form.Passexpdays|as_crispy_field }}
                                </div>
                            </div>
                            <hr>
                            <div class="form-row">
                                <div class="form-group col-md-3 mb-0">
                                    {{ form.PassexpMsgDays|as_crispy_field }}
                                </div>
                                <div class="form-group col-md-3 mb-0">
                                    {{ form.Autounlockhour|as_crispy_field }}
                                </div>
                                <div class="form-group col-md-3 mb-0">
                                    {{form.minPassAttempt|as_crispy_field }}
                                </div>
                                 <button type="submit" class="btn btn-primary" style="margin:1.8rem;">Update Password Policy</button>
                            </div>
                        </form>
                            <div class="form-row">
                                <div class="form-group col-md-6 mb-0">
                                     <h3 class="breadcrumb-header" style="color:white;">User Account Settings</h3>
                                    <hr>
                                    <div class="form-group col-md-2 mb-0">
                                          <div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheck1">
                                              <label class="custom-control-label" for="customCheck1">Email ID</label>
                                          </div>
                                    </div>
                                    <div class="form-group col-md-2 mb-0">
                                        <div class="custom-control custom-checkbox">
                                              <input type="checkbox" class="custom-control-input" id="customCheck2">
                                              <label class="custom-control-label" for="customCheck1">Others</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3 mb-0">
                                        {{ form.others|as_crispy_field }}

                                    </div>
                                    <button type="submit" class="btn btn-primary">Change User Account</button>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6 mb-0">
                                    <h3 class="breadcrumb-header" style="color:white;">GPS Account Saving</h3>
                                     <hr>
                                    <div class="form-group col-md-3 mb-0">
                                        <div class="custom-control custom-checkbox">
                                          <input type="checkbox" class="custom-control-input" id="customCheck3">
                                          <label class="custom-control-label" for="customCheck1">Email ID</label>
                                        </div>
                                    </div>
                                     <div class="form-group col-md-3 mb-0">
                                        <button type="submit" class="btn btn-primary">Activate GPS Account</button>
                                     </div>
                                       <br>

                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    h3{
    background-color: #393997;
    color: white;
    padding: 10px;
    border-bottom-style: groove;
}
</style>
{% block extrajs %}
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
{% endblock %}
{% endblock %}