{% extends "account/base.html" %}
{% block content %}
{% endblock %}
{% block page-inner %}
<div class="page-inner no-page-title">
    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-white" style="background-color:chocolate;">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title" style="text-align:center; color:white;">User Profile</h4>
                        <hr>
                    </div>
                    <div class="panel-body user-profile-panel">
                        <img src="{{request.user.image.url }}" class="user-profile-image img-circle" alt="">
                        <h4 class="text-center m-t-lg" style="color:white;">{{user.first_name}} {{user.last_name}}</h4>
                        <p class="text-center" style="color:white;">{{user.username}}</p>
                        <p>{{Profile.Profile_Pic.url}}</p>
                        <p>
                            <input id="id_image" type="file" class="" name="image">
                        </p>
                        <hr>
                        <ul class="list-unstyled text-center">
                            <li>
                                <p style="color:white;"><i class="fa fa-map-marker m-r-xs" style="color:white;"></i>{{user.last_login_time}}</p>
                            </li>
                            <li>
                                <p style="color:white;"><i class="fa fa-paper-plane-o m-r-xs" style="color:white;"></i><a href="{% url 'user_list'%}" style="color:white;">{{user.email}}</a>
                                </p>
                            </li>
               
                        </ul>
                        <hr>
                        <button class="btn btn-info btn-block">Follow</button>

                        <!-- <hr> -->
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="profile-timeline">
                    <ul class="list-unstyled">
                        <li class="timeline-item">
                            <h3 class="breadcrumb-header" style="text-align:center; color:white;">User Profile</h3>
                         
                        </li>
                        <li class="timeline-item">
                            <div class="panel panel-white">
                                <div class="panel-body">
                                    <div class="modal-body">
                                        <div class="form-row">
                                            <div class="form-group col-md-6 mb-0">
                                                <input type="text" id="docid-input" class="form-control"
                                                    placeholder="First Name" required>
                                            </div>
                                            <div class="form-group col-md-6 mb-0">
                                                <input type="text" id="name-input" class="form-control"
                                                    placeholder="Last Name" required>
                                            </div>
                                        </div>  
                                        <div class="form-row">
                                            <div class="form-group col-md-6 mb-0">
                                                <input type="text" id="state-input" class="form-control"
                                                    placeholder="Gender" required>
                                            </div>
                                            <div class="form-group col-md-6 mb-0">
                                                <input type="number" id="city-input" class="form-control" placeholder="City"
                                                    required>
                                            </div>
                                        </div> 
                                        <div class="form-row">
                                            <div class="form-group col-md-6 mb">
                                                <button class="btn btn-info btn-block">Update</button> 
                                            </div>    
                                        </div>    
                                       
                                    </div>
                                </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">


            </div>
        </div>
    </div>
</div>
<style>
    h3{
        background-color: #393997;
        color: white;
        padding: 10px;
        border-bottom-style: groove;
        box-shadow: 5px 5px 5px 5px rosybrown;
    }
    .panel {
        padding: 25px;
        border-color: #E6E8EB;
        box-shadow: 5px 5px 5px 5px rosybrown;
    }
</style>



{% endblock %}