{% for user in users %}
<tr id="3">
  <td>
      <div class="form-check custom-checkbox checkbox-primary check-lg me-3">
          <input name="user_id[]" type="checkbox" class="form-check-input" value="3"/>
          <label class="form-check-label" for="checkbox-3"></label>
      </div>
  </td>
  <td>{{forloop.counter}}</td>

  <td>{{user.username}}</td>
  <td>{{user.userid}}</td>

  <td>
    <span class="label label-primary">{{user.role}}</span>
  </td>
  <td><strong>{{user.email}}</strong></td>
  <td>
    <div class="form-check form-switch">
      <input class="form-check-input" data-item-id="{{ user.id }}" type="checkbox" value="{{user.is_active}}" role="switch" id="flexSwitchCheckDefault" {% if user.is_active %}checked{% endif %}>
      <label class="form-check-label" for="flexSwitchCheckDefault"></label>
    </div>
  </td> 
  <td>
      <div class="sweetalert">
          <div class="d-flex">
          <a href="#" class="btn btn-secondary shadow btn-xs sharp me-1" title="Permissions"><i class="fa fa-shield"></i></a>
          <a href="{% url 'user-update' user.id %}" class="btn btn-primary shadow btn-xs sharp me-1" title="Edit"><i class="fa fa-pencil"></i></a>
          <a href="{% url 'user-delete' user.id %}" class="btn btn-danger shadow btn-xs sharp sweet-success-cancel" title="Delete"><i class="fa fa-trash"></i></a>
          </div>
      </div>
  </td>
</tr>
{% empty %}
<tr>
  <td colspan="7" class="text-center bg-warning">No User</td>
</tr>
{% endfor %}
