{% extends "reportsapp/searchreportbase.html" %}
{% block table %}
<table id="example" class="table-responsive">
    <tbody>
    <thead>
    <tr>
        <th>DISTRIBUTOR CODE</th>
        <th>DISTRIBUTOR NAME</th>
        <th>BILL DATE</th>
        <th>SUPPLIER INVOICE NO</th>
        <th>SAP ORDER NO</th>
        <th>SAP ORDER DATE</th>
        <th>TOTAL INVENTORY AMOUNT</th>
        <th>TOTAl GST</th>
        <th>SGST AMOUNT</th>
        <th>CGST AMOUNT</th>
        <th>IGST AMOUNT</th>
        <th>VENDOR NAME</th>
        <th>PO_No</th>
        <th>TOTAL INVOICE AMOUNT</th>

    </tr>
    {% for sale in Sales %}
     <tr>
        <td>{{sale.Distributors}}</td>
        <td>{{sale.Distributors.Distributor_Name}}</td>
        <td>{{sale.Bill_Date}}</td>
        <td>{{sale.Supplier_Invoice_No}}</td>
        <td>{{sale.SAP_Order_No}}</td>
        <td>{{sale.SAP_Order_Date}}</td>
        <td>{{sale.Total_Inventory_Amount}}</td>
        <td>{{sale.Total_GST}}</td>
        <td>{{sale.SGST_AMOUNT}}</td>
        <td>{{sale.CGST_AMOUNT}}</td>
        <td>{{sale.IGST_AMOUNT}}</td>
        <td>{{sale.Vendor_Name}}</td>
        <td>{{sale.PO_No}}</td>
        <td>{{sale.Total_Invoice_Amount}}</td>

     </tr>
    {% endfor %}
    </thead>
    </tbody>

</table>
{% endblock %}