{% extends 'account/Hierarchy5/hierarchy5base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<!-- header start-->
{% block header-left %}
<div class="header-left">
    <div class="dashboard_bar">
        Add Hierarchy5
    </div>
</div>
{% endblock header-left %}
<!-- header end -->

<!--content-body start-->
{% block content-body %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-xl-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">New Hierarchy5 Form</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <form method="POST" enctype="multipart/form-data" id="itmForm" data-itm-url="{% url 'load_hier2_ajax' %}" data-hier4-url="{% url 'load_hierarchy4_ajax' %}" data-hier3-url="{% url 'load_hierarchy3_ajax' %}" novalidate autocomplete="off">
                                {% csrf_token %}
                                  {% include 'account/Hierarchy5/hierarchy5_form.html' %}

                                <button type="submit" class="btn btn-secondary mt-4 mb-5">Save</button>
                                <a href="/hierarchy5-list/" class="btn btn-primary mt-4 mb-5">Cancel</a>  
                            </form>    
                               
                        </div>    
                    </div>        
                </div>    
            </div>    
        </div>    

    </div>    
</div>    
{% endblock content-body %}
<!--content body-->
