<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Patient</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="example5" class="display" style="min-width: 845px">
                    <thead>
                        <tr>
                            <th>
                                <div class="form-check custom-checkbox ms-2">
                                    <input type="checkbox" class="form-check-input" id="checkAll" required="">
                                    <label class="form-check-label" for="checkAll"></label>
                                </div>
                            </th>
                            <th>Patient ID</th>
                            <th>Date Check in</th>
                            <th>Patient Name</th>
                            <th>Doctor Assgined</th>
                            <th>Disease</th>
                            <th>Status</th>
                            <th>Room no</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    
                </table>
            </div>
        </div>
    </div>
</div>