{% if citys %}
{% for city in citys %}
  <tr id="3">
      <td>
        <div class="form-check custom-checkbox checkbox-primary check-lg me-3">
          <input name="user_id[]" type="checkbox" class="form-check-input" value="3">
          <label class="form-check-label" for="checkbox-3"></label>
        </div>
      </td>
    <td>{{forloop.counter}}</td>
    <td><span class="label label-primary">{{city.zone}}</span></td>
    <td>{{city.region.Region_Name}}</td>
    <td>{{city.State.State_Name}}</td>
    <td>{{city.City_Name}}</td>
    <td>
      <div class="form-check form-switch">
        <input class="form-check-input" data-item-id="{{ city.id }}" type="checkbox" value="{{city.isactive}}" role="switch" id="flexSwitchCheckDefault" {% if city.isactive %}checked{% endif %}>
        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
      </div>
    </td> 
    <td>
        <div class="sweetalert">
          <div class="d-flex">
            <a href="#" class="btn btn-secondary shadow btn-xs sharp me-1" title="Permissions"><i class="fa fa-shield"></i></a>  
            <a href="{% url 'city-update' city.id %}" class="btn btn-primary shadow btn-xs sharp me-1" title="Edit"><i class="fa fa-pencil"></i></a>
            <a href="{% url 'city-delete' city.id %}" class="btn btn-danger shadow btn-xs sharp sweet-success-cancel"  title="Delete"><i class="fa fa-trash"></i></a>    
          </div>  
        </div>  
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="10" class="text-center bg-warning">No City</td>
  </tr>
{% endfor %}
{% endif %}
